body {
	background: url('../img/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
/*div, section {
	border: 1px solid darkgreen;
}*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Damion', cursive;
}
h1 {
	font-size: 5em;
}

h2 {
	font-size: 4em;
}


.content-background {
	height: 100%;
	min-height: 900px;

	background: url('../img/strum.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
	height: 100%;
	min-height: 900px;
	background-color: rgba(200, 200, 200, .5);
}

.question {
	font-size: 2em;
}

.question-img {
	border: 1px solid black;
	border-radius: 10px;
	padding: 0 20px;	
}

.question-img  img {
	border-radius: 10px;
	width: 300px;
	margin: 10px auto;
	display: block;
}

.options input {
	margin: 0.5em;
}

.options label {
	font-size: 1.5em;
}

.controls {
	margin: 1em .25em;
}

.answer p {
	margin: 1em auto;
	font-family: 'Damion', cursive;
	font-size: 2em;
	display: block;
}

button {
	background-color: #87a6cc;
	border-radius: 20px;
}



